<!DOCTYPE html>
<html lang="en">
  <% var templateHead = require("html-loader!../shared/head.html"); %> <%= templateHead
  .split('${title}').join(htmlWebpackPlugin.options.title) .split('${keywords}').join(htmlWebpackPlugin.options.keywords)
  .split('${description}').join(htmlWebpackPlugin.options.description) .split('${author}').join(htmlWebpackPlugin.options.author) %>
  <body>
    <div>
      <main class="blog">
        <ul class="blog__posts"></ul>
      </main>

      <div id="particles-js"></div>

      <% var template = require("html-loader!../shared/menu.html"); %> <%= template .split('${homeActive}').join('')
      .split('${blogActive}').join('class="uk-active"') .split('${livesActive}').join('') .split('${palestrasActive}').join('')
      .split('${podcastActive}').join('') %>
    </div>

    <!-- scripts -->
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>

    <%=require("html-loader!../shared/google_analytics.html")%>
  </body>
</html>
