<!DOCTYPE html>
<html lang="en">
  <%- include ../shared/head.ejs -%>
  <body>
    <div>
      <main class="blog">
        <ul class="blog__posts"></ul>
      </main>

      <div id="particles-js"></div>

      <%- include ../shared/menu.ejs -%>
    </div>

    <!-- scripts -->
    <%- include ../shared/footer_uikit.ejs -%>
    <%- include ../shared/google_analytics.ejs -%>
  </body>
</html>
