<!DOCTYPE html>
<html lang="en">
  <% var templateHead = require("html-loader!../shared/head.html"); %> <%= templateHead
  .split('${title}').join(htmlWebpackPlugin.options.title) .split('${keywords}').join(htmlWebpackPlugin.options.keywords)
  .split('${description}').join(htmlWebpackPlugin.options.description) .split('${author}').join(htmlWebpackPlugin.options.author) %>
  <body>
    <div>
      <main class="palestras">
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge"><span uk-icon="triangle-up"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Youtube</h3>
                <p>Você encontrará vídeos de Dotnet, C#, Python, Node.js (JavaScript e TypeScript).</p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="heart"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                  <a id="social-media"></a>
                  <a
                    target="_blank"
                    href="https://twitch.tv/edineidev"
                    title="Edinei Cavalcanti - Twitch"
                    aria-label="Twitch"
                    rel="noopener"
                  >
                    Youtube
                    <i class="fab fa-youtube"></i>
                  </a>
                </h3>
                <p>
                  Vídeo domingos as
                  <a target="_blank" href="https://time.is/pt_br/S%C3%A3o_Paulo" title="Time.is" aria-label="Time.is" rel="noopener"
                    >09:00 horario de Brasília</a
                  >.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item-finish">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="triangle-down"></span></span>
            </div>
          </div>
        </div>
      </main>

      <div id="particles-js"></div>

      <% var template = require("html-loader!../shared/menu.html"); %> <%= template .split('${homeActive}').join('')
      .split('${blogActive}').join('') .split('${liveActive}').join('') .split('${youtubeActive}').join('class="uk-active"')
      .split('${palestrasActive}').join('') .split('${podcastActive}').join('') .split('${projetcsActive}').join('') %>
    </div>

    <!-- scripts -->
    <%=require("html-loader!../shared/footer_uikit.html")%> <%=require("html-loader!../shared/google_analytics.html")%>
  </body>
</html>
