<!DOCTYPE html>
<html lang="en">
  <%- include ../shared/head.ejs -%>
  <body>
    <div>
      <main class="palestras">
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge"><span uk-icon="triangle-up"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Recomendações</h3>
                <p>Segue recomendações recebidas</p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="heart"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                    <section class="profile-picture">
                        <img src="/chris.jpg" alt="Christine Campbell" />
                    </section>
                    <a
                    target="_blank"
                    href="https://www.facebook.com/christine.campbell.92"
                    title="Link da palestra"
                    rel="noopener"
                    >Christine Campbell</a
                  >
                </h3>
                <span>Empresária, Advogada, Fundadora e Diretora at Cidadania Fácil</span>
                <p>
                    Edinei me ajudou muito com um sistema que eu tinha é que fiquei sem nenhuma assistência.
                    Ajudou a resolver todas as questões de incompatibilidades, melhorar a interface e solucionar problemas de programação.
                    Foi sempre muito atencioso e competente! Recomendo o trabalho dele de olhos fechados!
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="heart"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                    <section class="profile-picture">
                        <img src="/wilson.jpg" alt="Wilson Neto B. R. Gomes" />
                    </section>
                    <a
                    target="_blank"
                    href="https://www.linkedin.com/in/wilsonnetobr"
                    title="Link da palestra"
                    rel="noopener"
                    >Wilson Neto B. R. Gomes</a
                  >
                </h3>
                <span>Senior Fullstack Software Engineer - .Net, JS/TS, Azure | XP Inc</span>
                <p>
                    Edinei é uma pessoa extraordinária e um profissional altamente competente, sempre buscando novos conhecimentos e sempre buscando evoluir. Um cara fenomenal, sempre disposto a compartilhar conhecimentos e agregar para a comunidade dev, fundou a comunidade .Net Rio Preto, que vem impactando, ajudando e unindo vários devs de todo o Brasil. Sempre muito atento ao cenário tecnológico, sempre estudando e aprendendo algo novo, e sempre focado em entregar valor, seja na empresa ou na comunidade.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="heart"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                    <section class="profile-picture">
                        <img src="/diogo.jpg" alt="Diogo Rodrigues" />
                    </section>
                    <a
                    target="_blank"
                    href="https://www.linkedin.com/in/diogorodrigues02"
                    title="Link da palestra"
                    rel="noopener"
                    >Diogo Rodrigues</a
                  >
                </h3>
                <span>Principal User Experience Engineer at Fidelity Investments</span>
                <p>
                    O Edinei é um ótimo profissional, aprende rápido e gosta de compartilhar conhecimento. E eu tive a honra de trabalhar ao lado dele e aprender bastante.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item-finish">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="triangle-down"></span></span>
            </div>
          </div>
        </div>
      </main>

      <div id="particles-js"></div>
      <%- include ../shared/menu.ejs -%>
    </div>

    <!-- scripts -->
    <%- include ../shared/footer_uikit.ejs -%>
    <%- include ../shared/google_analytics.ejs -%>
  </body>
</html>
