<!DOCTYPE html>
<html lang="en">
  <%- include ../shared/head.ejs -%>
  <body>
    <div>
      <main class="palestras">
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge"><span uk-icon="triangle-up"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Lives</h3>
                <p>Aqui você encontra os links para as próximas lives.</p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="heart"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                  <a id="social-media"></a>
                  <a
                    target="_blank"
                    href="https://twitch.tv/edineidev"
                    title="Edinei Cavalcanti - Twitch"
                    aria-label="Twitch"
                    rel="noopener"
                  >
                    Twitch
                    <i class="fab fa-twitch"></i>
                  </a>
                </h3>
                <p>
                  Live coding segundas, quartas e sextas as
                  <a target="_blank" href="https://time.is/pt_br/S%C3%A3o_Paulo" title="Time.is" aria-label="Time.is" rel="noopener"
                    >19:30 horario de Brasília</a
                  >.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item-finish">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="triangle-down"></span></span>
            </div>
          </div>
        </div>
      </main>

      <div id="particles-js"></div>
      <%- include ../shared/menu.ejs -%>
    </div>

    <!-- scripts -->
    <%- include ../shared/footer_uikit.ejs -%>
    <%- include ../shared/google_analytics.ejs -%>
  </body>
</html>
