<!DOCTYPE html>
<html lang="en">
  <% var templateHead = require("html-loader!../shared/head.html"); %> <%= templateHead
  .split('${title}').join(htmlWebpackPlugin.options.title) .split('${keywords}').join(htmlWebpackPlugin.options.keywords)
  .split('${description}').join(htmlWebpackPlugin.options.description) .split('${author}').join(htmlWebpackPlugin.options.author) %>
  <body>
    <div>
      <main class="palestras">
        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge"><span uk-icon="triangle-up"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Lives</h3>
                <p>Aqui você encontra os links para as próximas lives.</p>
              </div>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="heart"></span></span>
            </div>
            <div class="timeline-content">
              <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                  <a id="social-media"></a>
                  Twitch
                  <a
                    target="_blank"
                    href="https://twitch.tv/edineidev"
                    title="Edinei Cavalcanti - Twitch"
                    aria-label="Twitch"
                    rel="noopener"
                  >
                    <i class="fab fa-twitch"></i>
                  </a>
                </h3>
                <p>
                  Live terças e quintas as
                  <a target="_blank" href="https://time.is/pt_br/S%C3%A3o_Paulo" title="Time.is" aria-label="Time.is" rel="noopener"
                    >19:30 horario de Brasília</a
                  >. Geralmente final de semana também em horários esporádicos.
                </p>
              </div>
            </div>
          </div>
          <div class="timeline-item-finish">
            <div class="timeline-left">
              <span class="uk-badge uk-badge-danger"><span uk-icon="triangle-down"></span></span>
            </div>
          </div>
        </div>
      </main>

      <div id="particles-js"></div>

      <% var template = require("html-loader!../shared/menu.html"); %> <%= template .split('${homeActive}').join('')
      .split('${blogActive}').join('') .split('${liveActive}').join('class="uk-active"') .split('${palestrasActive}').join('')
      .split('${podcastActive}').join('') .split('${projetcsActive}').join('') %>
    </div>

    <!-- scripts -->
    <%=require("html-loader!../shared/footer_uikit.html")%> <%=require("html-loader!../shared/google_analytics.html")%>
  </body>
</html>
