<!DOCTYPE html>
<html lang="en">
  <%- include shared/head.ejs -%>
  <body>
    <div>
      <main class="info">
        <section class="profile-picture">
          <img src="https://s.gravatar.com/avatar/7a67b73bb4ee857df4d8e2ff8aede1e8?s=170" alt="Edinei Cavalcanti aka neiesc" />
        </section>
        <section class="bio">
          <h1>Edinei Cavalcanti</h1>
          <h2>Backend Software Engineer | C# | Python | TypeScript and Javascript</h2>
          <p>
            Comecei minha trajetória profissional em 2010, com sólidos conhecimento em TI, mais especificamente em desenvolvimento de
            software em C#, .NET,
            <a target="_blank" href="https://dotnet.github.io/" title=".NET Core" rel="noopener">.NET Core</a>,
            <a target="_blank" href="https://nodejs.org/en/" title="Node.js" rel="noopener">Node.js</a>
            e
            <a target="_blank" href="https://www.python.org/" title="Python" rel="noopener">Python</a>
            com experiência em grandes aplicações.
          </p>
          <p>Bacharel em Ciência da Computação em 2015 pela UNIP.</p>
          <p>Entusiasta em inteligência artificial, internet das coisas, blockchain, segurança e open source.</p>
          <p>
            Vide minhas competências no
            <a target="_blank" href="https://www.linkedin.com/in/neiesc/" title="Edinei Cavalcanti - LinkedIn" rel="noopener">linkedin</a>
            e no
            <a target="_blank" href="https://github.com/neiesc" title="Edinei Cavalcanti - GitHub" rel="noopener">github</a>.
          </p>
  <body>
  </section>
        <section class="social">
          <h4>Social Networks</h4>
          <a target="_blank" href="https://github.com/neiesc" title="Edinei Cavalcanti - GitHub" aria-label="GitHub" rel="noopener">
            <i class="fab fa-github"></i>
          </a>
          <a target="_blank" href="https://twitch.tv/edineidev" title="Edinei Cavalcanti - Twitch" aria-label="Twitch" rel="noopener">
            <i class="fab fa-twitch"></i>
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/neiesc/"
            title="Edinei Cavalcanti - LinkedIn"
            aria-label="LinkedIn"
            rel="noopener"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            target="_blank"
            href="https://stackoverflow.com/users/2105870/neiesc"
            title="Edinei Cavalcanti - Stack Overflow"
            aria-label="Stack Overflow"
            rel="noopener"
          >
            <i class="fab fa-stack-overflow"></i>
          </a>
          <a
            target="_blank"
            href="https://exercism.io/profiles/neiesc"
            title="Edinei Cavalcanti - Exercism"
            aria-label="Exercism"
            rel="noopener"
          >
            <i class="fas fa-code"></i>
          </a>
          <a target="_blank" href="https://twitter.com/neiesc" title="Edinei Cavalcanti - Twitter" aria-label="Twitter" rel="noopener">
            <i class="fab fa-twitter"></i>
          </a>
          <a target="_blank" href="https://medium.com/@neiesc" title="Edinei Cavalcanti - Medium" aria-label="Medium" rel="noopener">
            <i class="fab fa-medium"></i>
          </a>
          <a
            target="_blank"
            href="https://www.facebook.com/neiesc"
            title="Edinei Cavalcanti - Facebook"
            aria-label="Facebook"
            rel="noopener"
          >
            <i class="fab fa-facebook-square"></i>
          </a>
          <a target="_blank" href="https://t.me/neiesc" title="Edinei Cavalcanti - Telegram" aria-label="Telegram" rel="noopener">
            <i class="fab fa-telegram"></i>
          </a>
          <a target="_blank" href="mailto:edinei.esc@gmail.com" title="Edinei Cavalcanti - E-mail" aria-label="E-mail" rel="noopener">
            <i class="fas fa-envelope"></i>
          </a>
        </section>
        <section class="hashtags">
          <p>#developer #dotnet #nodejs #python #ai #machine-learning</p>
        </section>
      </main>

      <div id="particles-js"></div>
      <%- include shared/menu.ejs -%>
    </div>

    <!-- scripts -->
    <%- include shared/footer_uikit.ejs -%>
    <%- include shared/google_analytics.ejs -%>
  </body>
</html>
