<!DOCTYPE html>
<html lang="en">
  <%- include ../shared/head.ejs -%>
  <body>
    <main class="podcasts">
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-left">
            <span class="uk-badge"><span uk-icon="triangle-up"></span></span>
          </div>
          <div class="timeline-content">
            <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Podcasts</h3>
              <p>Segue uma relação de podcasts que eu curto e recomendo.</p>
            </div>
          </div>
        </div>
        <!-- Load from podcasts.json -->
      </div>
    </main>

    <div id="particles-js"></div>
    <%- include ../shared/menu.ejs -%>

    <!-- scripts -->
    <%- include ../shared/footer_uikit.ejs -%>
    <%- include ../shared/google_analytics.ejs -%>
  </body>
</html>
